.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 40px 40px;
  min-height: 90vh;

}

@media all and (max-width: 480px)
{
  .container{
    flex-direction: column;
    margin: 40px 25px 40px 15px;  }
}